---
layout: default
---

<!-- talks.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           Select Talks
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>


          <div class="clearfix">
            {{ content }}
          </div>

          <!-- Talks -->
          <p>AI Decoded - Build Your Own Chatbot Companion With RTX PCs and Workstations, NVIDIA GPU Technology Conference (GTC), San Jose CA, USA, March 2024.</p>
          <p>Accelerating Development on Windows PCs with RTX AI, Microsoft Build, Seattle WA, USA, May 2024.</p>
          <p>Virtual Human Design: Exploring the Opportunities and Challenges of GenAI, ACM SIGGRAPH 2024, Denver CO, USA, July 2024.</p>
          
          {% if page.talks and site.talks.enabled -%}
            <h2><a href="{{ '/talks/' | relative_url }}" style="color: inherit;">talks</a></h2>
            {%- include talks.html limit=true %}
          {%- endif %}

          

          
        </article>

</div>
