---
layout: default
---

<!-- talks.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>


          <div class="clearfix">
            {{ content }}
          </div>

          <!-- Talks -->
          {% if page.talks and site.talks.enabled -%}
            <h2><a href="{{ '/talks/' | relative_url }}" style="color: inherit;">talks</a></h2>
            {%- include talks.html limit=true %}
          {%- endif %}

          

          
        </article>

</div>
