---
layout: default
---

<!-- talks.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           Talks and presentations
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>


          <div class="clearfix">
            {{ content }}
          </div>

          <!-- Talks -->
          <ul>
            <li>
              <strong><a href="https://www.nvidia.com/en-us/events/ai-summit/session-catalog/?ncid=so-twit-336610&tab.day=20241008&search=RTX">Develop and Deploy AI-Enhanced Windows Applications on the RTX AI Platform</a></strong><br>
              <em>NVIDIA AI Sumnmit</em>, Washington, DC, USA, October 2024.
            </li>
                <br><br>
                <li>
              <strong><a href="https://www.nvidia.com/en-in/events/ai-summit/session-catalog/?ncid=so-twit-336610&tab.day=20241025&search=rtx#/">Develop and Deploy AI-Enhanced Windows Applications on the RTX AI Platform</a></strong><br>
              <em>NVIDIA AI Sumnmit</em>, Mumbai, India, October 2024.
            </li>
                <br><br>
                <li>
              <strong><a href="https://s2024.conference-program.org/presentation/?id=gensubcur_103&sess=sess339">Virtual Human Design: Exploring the Opportunities and Challenges of GenAI</a></strong><br>
              <em>ACM SIGGRAPH 2024</em>, Denver, CO, USA, July 2024.
            </li>
                <br><br>
            <li>
              <strong>AI Decoded - Build Your Own Chatbot Companion With RTX PCs and Workstations</strong><br>
              <em>NVIDIA GPU Technology Conference (GTC)</em>, San Jose, CA, USA, March 2024.
            </li>
            <br><br>

            <li>
              <strong><a href="https://build.microsoft.com/en-US/sessions/689907b5-1bb8-4e4a-921f-2808a4dc823a">Accelerating Development on Windows PCs with RTX AI</a></strong><br>
              <em>Microsoft Build</em>, Seattle, WA, USA, May 2024.
            </li>
            <br><br>
            
          </ul>
          
          


          

          
        </article>

</div>
